<div>
    <div class="top">
        <h3>Products</h3>
        <input class="btn btn-primary btn-one" type="button" value="Add Products" (click)="addProductDetails(addProduct)"> 
        <input class="btn btn-primary btn-two" type="button" value="Manage Products Categories" (click)="categories()">
    </div>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Rating</th>
        <th>Stock</th>
        <th>Brand</th>
        <th>Category</th>
        <th>Thumbnail</th>
        <th></th>
    </tr>
    <tr *ngFor="let product of products;let i = index">
        <td>{{i+1}}</td>
        <td>{{product.title}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{product.discountPercentage}}</td>
        <td>{{product.rating}}</td>
        <td>{{product.stock}}</td>
        <td>{{product.brand}}</td>
        <td>{{product.category}}</td>
        <td><img src="{{product.thumbnail}}" alt="image Not Found"></td>
        <td>
            <!-- <input class="btn btn-primary btn-width" type="button" value="View Images">
            <input class="btn btn-primary btn-width" type="button" value="View Details"> -->
            <input class="btn btn-primary btn-width" type="button" value="Update" (click)="updateProductDetails(product, updateProductModal)">
            <input class="btn btn-danger btn-width" type="button" value="Delete" (click)="deleteProduct(product.pid)">
        </td>
    </tr>
</table>

<ng-template #addProduct let-modal class="modal-dialog">
    <div class="model-header">
        <h2>Add Product Deatils</h2>
    </div>
    <div class="model-body">
        <form [formGroup]="addProductForm" (ngSubmit)="storeProduct()">
            <label for="productTitle" class="col-sm-2 col-form-label ">Name</label>
            <input type="text" class="form-control" id="productTitle" placeholder="Product Name" formControlName="title">
            <br>
            <label for="productDescription" class="col-sm-2 col-form-label ">Description</label>
            <input type="text" class="form-control" id="productDescription" placeholder="Product Description" formControlName="description">
            <br>
            <label for="price" class="col-sm-2 col-form-label ">Price</label>
            <input type="text" class="form-control" id="price" placeholder="Price" formControlName="price">
            <br>
            <label for="discountPercentage" class="col-sm-2 col-form-label ">Discount Percentage</label>
            <input type="text" class="form-control" id="discountPercentage" placeholder="Discount Percentage" formControlName="discountPercentage">
            <br>
            <label for="rating" class="col-sm-2 col-form-label ">Rating</label>
            <input type="text" class="form-control" id="rating" placeholder="Rating" formControlName="rating">
            <br>
            <label for="stock" class="col-sm-2 col-form-label ">Stock</label>
            <input type="text" class="form-control" id="stock" placeholder="Stock" formControlName="stock">
            <br>
            <label for="brand" class="col-sm-2 col-form-label ">Brand</label>
            <input type="text" class="form-control" id="brand" placeholder="Brand" formControlName="brand">
            <br>
            <label for="category" class="col-sm-2 col-form-label ">Category</label>
            <select formControlName="category">
                <option value="select">--Select--</option>
                <option *ngFor="let category of categoriesArray" [value]="category.categoryName">{{category.categoryName}}</option>
            </select>
            <br>
            <label for="thumbnail" class="col-sm-2 col-form-label ">Thumbnail</label>
            <input type="text" class="form-control" id="thumbnail" placeholder="Thumbnail" formControlName="thumbnail">
            <br>
            <button type="submit" class="btn btn-primary">Add Product</button>
        </form>
        <br>
        <input class="btn btn-primary" type="button" value="Close" (click)="modal.close('close')">
    </div>
</ng-template>

<ng-template #updateProductModal let-modal class="modal-dialog">
    <div class="model-header">
        <h2>Update Product Deatils</h2>
    </div>
    <div class="model-body">
        <form [formGroup]="addProductForm" (ngSubmit)="updateProduct()">
            <label for="productTitle" class="col-sm-2 col-form-label label-modal">Name</label>
            <input type="text" class="form-control input-modal" id="productTitle" placeholder="Product Name" formControlName="title">
            <br>
            <label for="productDescription" class="col-sm-2 col-form-label label-modal">Description</label>
            <input type="text" class="form-control input-modal" id="productDescription" placeholder="Product Description" formControlName="description">
            <br>
            <label for="price" class="col-sm-2 col-form-label label-modal">Price</label>
            <input type="text" class="form-control input-modal" id="price" placeholder="Price" formControlName="price">
            <br>
            <label for="discountPercentage" class="col-sm-2 col-form-label label-modal">Discount Percentage</label>
            <input type="text" class="form-control input-modal" id="discountPercentage" placeholder="Discount Percentage" formControlName="discountPercentage">
            <br>
            <label for="rating" class="col-sm-2 col-form-label label-modal">Rating</label>
            <input type="text" class="form-control input-modal" id="rating" placeholder="Rating" formControlName="rating">
            <br>
            <label for="stock" class="col-sm-2 col-form-label label-modal">Stock</label>
            <input type="text" class="form-control input-modal" id="stock" placeholder="Stock" formControlName="stock">
            <br>
            <label for="brand" class="col-sm-2 col-form-label label-modal">Brand</label>
            <input type="text" class="form-control input-modal" id="brand" placeholder="Brand" formControlName="brand">
            <br>
            <label for="category" class="col-sm-2 col-form-label label-modal">Category</label>
            <select formControlName="category">
                <option value="select">--Select--</option>
                <option *ngFor="let category of categoriesArray" [value]="category.categoryName">{{category.categoryName}}</option>
            </select>
            <br>
            <label for="thumbnail" class="col-sm-2 col-form-label label-modal">Thumbnail</label>
            <input type="text" class="form-control input-modal" id="thumbnail" placeholder="Thumbnail" formControlName="thumbnail">
            <br>
            <button type="submit" class="btn btn-primary btn-modal btn-modal-update">Update Product</button>
        </form>
        <br>
        <input class="btn btn-primary btn-modal btn-modal-close" type="button" value="Close" (click)="modal.close('close')">
    </div>
</ng-template>

</div>
