div{
    margin-top: 77px;
}

h3{
    margin-bottom: 31px;
    display: inline;
}

.top{
    margin-bottom: 31px;
}

.btn-one{
    float: right;
    margin-right: 30px;
}

th{
    background-color: blue;
    color: white;
    height: 47px;
}

.table{
    color: black;
}

tr:nth-child(odd) {
    background-color: #d3d3d3;
}

img{
    width: 100px;
}

.btn{
    background-color: rgb(28, 27, 27);
    width: 12%;
}

.btn:hover{
    background-color: green;
}

th{
    text-align: center;
}

th, td{
    border: 1px solid black;
    padding: 7px 20px;
}

.btn-primary{
    background-color: rgb(28, 27, 27);
    border-color: rgb(28, 27, 27);
}

.btn-primary:hover{
    background-color: green;
}

.btn-danger{
    background-color: rgb(246, 24, 24);
}

.btn-danger:hover{
    background-color: rgb(180, 38, 38);
}

.btn-width{
    width: 100%;
}
  